<!DOCTYPE html>
<html land="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>
  </head>
  <body class="join" style="background-image: url({% static 'background.jpg' %})">
    <div class="jumbotron vertical-center-join">
    <h1>Join<h1>
    <form action="/join/" method="POST" class="center_form">{% csrf_token %}
      <table>
        {{ join_form.as_table }}
        <tr><td>
          <input type="submit" class="btn btn-primary" value = "Join"/>
        </td></tr>
      </table>
    </form>
  </div>
  </body>
</html>
