<header>
<div class="navheader">
  <div class="navcontent">
    <span class="navspan"><a href='/user_profile/' class='user_profile'>User Profile</a></span>
  </div>
</div>
</header>
<ul>
<li><a href="/core/">Dashboard</a></li>
<li><a href="/projects/">Projects</a></li>
<li><a href="/tickets/">Tickets</a></li>
<li><a href="/manage_roles/">Manage User Roles</a></li> <!-- admin only window -->
<li><a href="/manage_projects/">Manage Project Users</a></li> <!-- admin and project manager only window -->
<li><a href="/api/v1/" target="_blank">REST API</a></li>
<li><a href="/logout/">Logout</a></li>
</ul>
