body.join{
  text-align: center;
}

form.center_form{
  display: inline-block;
}

span.sort_options_header{
  float:right;
  display: inline-block;
  padding-right: 9%;
}

span.sort_options_right{
  float: right;
  display: inline-block;
  padding-right: 6%;
}

span.sort_options_left{
  float: right;
  display: inline-block;
  padding-right: 1%;
}


div.jumbotron{
padding: 1rem 1rem;
background-color: #FFEBCD;
-moz-box-shadow: 0 0 5px #555;
-webkit-box-shadow: 0 0 5px #555;
box-shadow: 0 0 5px #555;
}

div.vertical-center{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
  min-width: 250px;
  max-width: 350px;
}

p.no_data_tag{
  font-size: 60%;
}

div.vertical-center-join{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
}

p.login_text{
  font-size: 30%;
}

html.background{
  background-image: image('background.jpg');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #F0F8FF;
  position: fixed;
  height: 100%;
  overflow: auto;

-moz-box-shadow:    -2px 0 5px 0 #555;
 -webkit-box-shadow: -2px 0 5px 0 #555;
 box-shadow:         -2px 0 5px 0 #555;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

span.navspan{
  float: right;
    background-color: #F0F8FF;
    padding-right: 1%;
}

a.user_profile:hover{
  color:#000;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.page_body{
  margin-left:15%;padding:1px 16px;height:100%;background-color:#FFF5EE;padding-top: 5%;
}

table.ticket_tables{
  border: 2px solid black;
  border-left: none;
  border-right: none;
  width: 100%;
}

tr.ticket_tables{
  border-left: none;
  border-right: none;
  border-top: none;
  width: 100%;
}

td.ticket_tables{
  border: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
}

table.info_tables{
  table-layout: fixed;
  border: 2px solid black;
  width: 100%;
  border-left: none;
  border-right: none;
  font-size: 65%;
}

table.login_table{
  border: none;
  width: 80%;
  font-size: 50%;
}

table.join_table{
  border: none;
  width: 80%;
  font-size: 60%;
}


td.info_tables{
  border: 1px solid grey;
  border-left: none;
  border-right: none;
}

tr.info_tables{
  border: 1px solid grey;
  border-left: none;
  border-right: none;
}

a, button{
  display:inline-block;
  text-align: center;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

span.navcontent{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div.navheader{
  overflow: hidden;
  background-color: #F0F8FF;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-top: 0.5%;
  padding-bottom: 0.5%;

    box-shadow: 0 6px 2px -2px rgba(0,0,0,.2);

}

div.ct-perfect-fourth{
  display: block;
  position: relative;
  width: 100%;
}
