<!DOCTYPE html>
<html land="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>
  </head>
  <body>
    {% include "core/navigation_vertical.html" %}
    {% include "core/bootstrap.html" %}
    <div class="page_body">
      <h5 style="display: inline-block;"> Tickets </h5>
      <span class="sort_options_header"> Sort by: </span>
      <form>
        <a class="btm btm-primary" href='/add_ticket/'>Add Ticket</a>
        <span class="sort_options_right"><a class="btm btm-primary" href='/tickets_sort_priority/'>Priority</a></span>
        <span class="sort_options_left"><a class="btm btm-primary" href='/tickets_sort_date/'>Date</a></span>
      </form>
      <div class="container">
        <div class="jumbotron">
          <table class="info_tables">
            <tr class="info_tables">
              <th>Title</th>
              <th>Status</th>
              <th>Created</th>
              <th></th>
            </tr>
            {% for items in rows %}
            <tr class="info_tables">
              {% for cells in items %}
                {% if forloop.counter0 == 0 or forloop.counter0 == 2 or forloop.counter0 == 6 %}
                <td class="info_tables">
                  {{ cells }}
                </td>
                {% endif %}
              {% endfor %}
              <td class="info_tables">
                <a class="btm btm-primary" href="/tickets/details/{{ items.0 }}">Details</a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
