<!DOCTYPE html>
<html land="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>
  </head>
  <body>
    {% include "core/navigation_vertical.html" %}
    {% include "core/bootstrap.html" %}
    <div class="page_body">
      <div class="row">
        <h5> Ticket Details for {{ ticket_name }}: </h5>
      </div>
      <a href="/tickets/edit/{{ ticket_name }}">Edit</a>
      <a href="/tickets/delete/{{ ticket_name }}" onclick="return confirm('Are you sure?')" style="padding-left:1%;">Delete</a>
      <br>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="jumbotron">
            <table class="ticket_tables">
              <tr class="ticket_tables">
                <th>Description</th>
                <th>Project</th>
              </tr>
              <tr class="ticket_tables">
                {% for items in rows %}
                  {% for cells in items %}
                    {% if forloop.counter0 == 0 or forloop.counter0 == 1 %}
                    <td class="ticket_tables">{{ cells }}</td>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </tr>
              <tr class="ticket_tables">
                <th>Priority</th>
                <th>Status</th>
              </tr>
              <tr class="ticket_tables">
                {% for items in rows %}
                  {% for cells in items %}
                    {% if forloop.counter0 == 2 or forloop.counter0 == 3 %}
                      <td class="ticket_tables">{{ cells }}</td>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </tr>
              <tr class="ticket_tables">
                <th>Type</th>
                <th>Created</th>
              </tr>
              <tr class="ticket_tables">
                {% for items in rows %}
                  {% for cells in items %}
                    {% if forloop.counter0 == 4 or forloop.counter0 == 5 %}
                      <td class="ticket_tables">{{ cells }}</td>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </tr>
            </table>
          </div>
          </div>
          <div class="col">
            <div class="jumbotron">
              <form method="POST" enctype="multipart/form-data">{%csrf_token%}
                <table>
                  {{ file_upload.as_table }}
                  <button type="submit" class="btm btm-primary" name="Add File">Add File</button>
                </table>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="jumbotron">
              tron
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </body>
</html>
